@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
}
* {
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-image: repeating-linear-gradient(
    45deg,
    rgb(215, 239, 255),
    transparent 198px
  );
}

.box-container {
  padding: 2rem;
  background-color: aliceblue;
  width: 60%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-1 > h4 {
  color: rgb(4, 180, 255);
}

.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.guess-num {
  background-color: rgb(0, 0, 0);
  width: 220px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}

.line {
  height: 10px;
  width: 100%;
  background-color: black;
}
.guess-num1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.bg {
  background-color: greenyellow;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container > input {
  height: 50px;
  margin: 5px;
  border: 2px solid rgb(223, 223, 223);
  outline: rgb(0, 179, 255);
  text-align: center;
  font-size: 2rem;
  width: 200px;
  font-weight: 800;
}

.input-container > button {
  width: 100px;
  background-image: linear-gradient(rgb(65, 157, 255), rgb(0, 123, 255));
  border: none;
  border-radius: 4px;
  height: 40px;
  color: white;
  cursor: pointer;
}

.marks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h2 {
  margin: 0px;
}

.header > h1 {
  font-weight: 900;
  margin: 2px;
}

#resetButton {
  width: 100px;
  background-image: linear-gradient(rgb(65, 157, 255), rgb(0, 123, 255));
  border: none;
  border-radius: 4px;
  height: 40px;
  color: white;
  cursor: pointer;
}

.section-3 {
  width: 300px;
}

#instructorHeading {
  font-size: 1.6rem;
}